In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dataframeok.csv')

In [4]:
df.head()

,Unnamed: 0,business_status,geometry,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,plus_code,...,laundry,amusement_park,premise,general_contractor,hospital,bank,mosque,car_rental,dentist,real_estate_agency
0,0,OPERATIONAL,"{'location': {'lat': -27.5992912, 'lng': -48.5...",https://maps.gstatic.com/mapfiles/place_api/ic...,#10BDFF,https://maps.gstatic.com/mapfiles/place_api/ic...,Terminal Urbano Cidade de Florianópolis,"[{'height': 4624, 'html_attributions': ['<a hr...",ChIJu0b5EiU4J5URanhM6FIK7kA,"{'compound_code': 'CF22+74 Florianópolis, Stat...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,OPERATIONAL,"{'location': {'lat': -27.5965266, 'lng': -48.5...",https://maps.gstatic.com/mapfiles/place_api/ic...,#10BDFF,https://maps.gstatic.com/mapfiles/place_api/ic...,Terminal Rodoviário Rita Maria,"[{'height': 504, 'html_attributions': ['<a hre...",ChIJRVyXoiA4J5URHnkmOvU5NVY,"{'compound_code': 'CC3X+9X Centro, Florianópol...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,OPERATIONAL,"{'location': {'lat': -27.596466, 'lng': -48.55...",https://maps.gstatic.com/mapfiles/place_api/ic...,#10BDFF,https://maps.gstatic.com/mapfiles/place_api/ic...,"Rua Francisco Tolentino, 390",NaN,ChIJm8inWiE4J5URa7Azj9xpFGo,"{'compound_code': 'CC3W+C7 Florianópolis, Stat...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,OPERATIONAL,"{'location': {'lat': -27.5966, 'lng': -48.5549...",https://maps.gstatic.com/mapfiles/place_api/ic...,#10BDFF,https://maps.gstatic.com/mapfiles/place_api/ic...,Florianópolis,"[{'height': 720, 'html_attributions': ['<a hre...",ChIJ2-8ARiE4J5URnOD7mzp0ZQA,"{'compound_code': 'CC3W+92 Florianópolis, Stat...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,OPERATIONAL,"{'location': {'lat': -27.5958278, 'lng': -48.5...",https://maps.gstatic.com/mapfiles/place_api/ic...,#10BDFF,https://maps.gstatic.com/mapfiles/place_api/ic...,"Rua Francisco Tolentino, 540",NaN,ChIJFx2YGiE4J5URPmsFnnNWusk,"{'compound_code': 'CC3V+MP Florianópolis, Stat...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
x = df['geometry'][0].replace("'location':",''{})
x

"{ {'lat': -27.5992912, 'lng': -48.5497373}, 'viewport': {'northeast': {'lat': -27.5979209697085, 'lng': -48.5483636197085}, 'southwest': {'lat': -27.60061893029151, 'lng': -48.5510615802915}}}"

In [49]:
x.replace("}}",'')

"{'location': {'lat': -27.5992912, 'lng': -48.5497373}, 'viewport': {'northeast': {'lat': -27.5979209697085, 'lng': -48.5483636197085}, 'southwest': {'lat': -27.60061893029151, 'lng': -48.5510615802915}"

In [39]:
x

"{'location': {'lat': -27.5992912, 'lng': -48.5497373}, 'viewport': {'northeast': {'lat': -27.5979209697085, 'lng': -48.5483636197085}, 'southwest': {'lat': -27.60061893029151, 'lng': -48.5510615802915}}}"

In [6]:
df['name']

0                 Terminal Urbano Cidade de Florianópolis
1                          Terminal Rodoviário Rita Maria
2                            Rua Francisco Tolentino, 390
3                                           Florianópolis
4                            Rua Francisco Tolentino, 540
                              ...
6579    Obelisco e Monumento Mausoléu ao Soldado Const...
6580                                                  Oca
6581                       São Paulo Museum of Modern Art
6582                           Milan - São Paulo Fountain
6583                                        Herbario PMSP
Name: name, Length: 6584, dtype: object

In [5]:
df.columns

Index(['Unnamed: 0', 'business_status', 'geometry', 'icon',
       'icon_background_color', 'icon_mask_base_uri', 'name', 'photos',
       'place_id', 'plus_code', 'rating', 'reference', 'scope', 'types',
       'user_ratings_total', 'vicinity', 'nome_ponto', 'opening_hours',
       'price_level', 'permanently_closed', 'bus_station', 'transit_station',
       'point_of_interest', 'establishment', 'bakery', 'store', 'food',
       'health', 'cafe', 'restaurant', 'meal_delivery',
       'grocery_or_supermarket', 'home_goods_store', 'drugstore', 'pharmacy',
       'gym', 'clothing_store', 'liquor_store', 'electronics_store', 'bar',
       'museum', 'tourist_attraction', 'church', 'place_of_worship',
       'night_club', 'parking', 'meal_takeaway', 'shopping_mall',
       'supermarket', 'finance', 'atm', 'park', 'physiotherapist', 'spa',
       'school', 'doctor', 'beauty_salon', 'convenience_store',
       'jewelry_store', 'storage', 'hair_care', 'travel_agency', 'lodging',
       'shoe_store', 'cemetery', 'subway_station', 'train_station', 'florist',
       'book_store', 'aquarium', 'veterinary_care', 'department_store',
       'art_gallery', 'movie_theater', 'university', 'pet_store',
       'furniture_store', 'stadium', 'library', 'local_government_office',
       'laundry', 'amusement_park', 'premise', 'general_contractor',
       'hospital', 'bank', 'mosque', 'car_rental', 'dentist',
       'real_estate_agency'],
      dtype='object')

In [6]:
use = df[['business_status', 'geometry', 'name', 'place_id', 'types', 'vicinity', 'nome_ponto',
       'rating', 'user_ratings_total',"bus_station","subway_station","train_station","bakery","drugstore","gym",
          "liquor_store","museum","night_club","restaurant","shopping_mall","supermarket","tourist_attraction"]]

In [7]:
use.head()

,business_status,geometry,name,place_id,types,vicinity,nome_ponto,rating,user_ratings_total,bus_station,...,bakery,drugstore,gym,liquor_store,museum,night_club,restaurant,shopping_mall,supermarket,tourist_attraction
0,OPERATIONAL,"{'location': {'lat': -27.5992912, 'lng': -48.5...",Terminal Urbano Cidade de Florianópolis,ChIJu0b5EiU4J5URanhM6FIK7kA,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",3.2,116.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OPERATIONAL,"{'location': {'lat': -27.5965266, 'lng': -48.5...",Terminal Rodoviário Rita Maria,ChIJRVyXoiA4J5URHnkmOvU5NVY,"['bus_station', 'transit_station', 'point_of_i...","Rua Tenente Silveira, 60 - Centro, Florianópolis","Centro de Florianópolis, Florianópolis",2.8,39.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OPERATIONAL,"{'location': {'lat': -27.596466, 'lng': -48.55...","Rua Francisco Tolentino, 390",ChIJm8inWiE4J5URa7Azj9xpFGo,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OPERATIONAL,"{'location': {'lat': -27.5966, 'lng': -48.5549...",Florianópolis,ChIJ2-8ARiE4J5URnOD7mzp0ZQA,"['bus_station', 'transit_station', 'point_of_i...",Circunscrição 1º Ofício de Registro de Imóveis...,"Centro de Florianópolis, Florianópolis",4.6,85.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OPERATIONAL,"{'location': {'lat': -27.5958278, 'lng': -48.5...","Rua Francisco Tolentino, 540",ChIJFx2YGiE4J5URPmsFnnNWusk,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
use.describe()

,rating,user_ratings_total,bus_station,subway_station,train_station,bakery,drugstore,gym,liquor_store,museum,night_club,restaurant,shopping_mall,supermarket,tourist_attraction
count,5145.000000,5145.000000,442.0,91.0,314.0,643.0,568.0,605.0,587.0,606.0,569.0,813.0,570.0,592.0,687.0
mean,4.345637,928.563654,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.638550,6541.591738,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,4.100000,5.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,4.500000,28.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,4.800000,243.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,5.000000,244978.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
usedf = use.fillna(0)

In [10]:
usedf.head()

,business_status,geometry,name,place_id,types,vicinity,nome_ponto,rating,user_ratings_total,bus_station,...,bakery,drugstore,gym,liquor_store,museum,night_club,restaurant,shopping_mall,supermarket,tourist_attraction
0,OPERATIONAL,"{'location': {'lat': -27.5992912, 'lng': -48.5...",Terminal Urbano Cidade de Florianópolis,ChIJu0b5EiU4J5URanhM6FIK7kA,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",3.2,116.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,OPERATIONAL,"{'location': {'lat': -27.5965266, 'lng': -48.5...",Terminal Rodoviário Rita Maria,ChIJRVyXoiA4J5URHnkmOvU5NVY,"['bus_station', 'transit_station', 'point_of_i...","Rua Tenente Silveira, 60 - Centro, Florianópolis","Centro de Florianópolis, Florianópolis",2.8,39.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OPERATIONAL,"{'location': {'lat': -27.596466, 'lng': -48.55...","Rua Francisco Tolentino, 390",ChIJm8inWiE4J5URa7Azj9xpFGo,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,OPERATIONAL,"{'location': {'lat': -27.5966, 'lng': -48.5549...",Florianópolis,ChIJ2-8ARiE4J5URnOD7mzp0ZQA,"['bus_station', 'transit_station', 'point_of_i...",Circunscrição 1º Ofício de Registro de Imóveis...,"Centro de Florianópolis, Florianópolis",4.6,85.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OPERATIONAL,"{'location': {'lat': -27.5958278, 'lng': -48.5...","Rua Francisco Tolentino, 540",ChIJFx2YGiE4J5URPmsFnnNWusk,"['bus_station', 'transit_station', 'point_of_i...",Brazil,"Centro de Florianópolis, Florianópolis",0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
usedf.describe()

,rating,user_ratings_total,bus_station,subway_station,train_station,bakery,drugstore,gym,liquor_store,museum,night_club,restaurant,shopping_mall,supermarket,tourist_attraction
count,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000,6584.000000
mean,3.395854,725.616646,0.067132,0.013821,0.047691,0.097661,0.086270,0.091889,0.089156,0.092041,0.086422,0.123481,0.086574,0.089915,0.104344
std,1.882665,5795.305664,0.250270,0.116758,0.213129,0.296878,0.280783,0.288892,0.284990,0.289106,0.281007,0.329014,0.281230,0.286082,0.305729
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.300000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.700000,127.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,244978.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
usedf.to_csv("usedf.csv")